PORT = 
CLIENT_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
NODE_ENV = 

# DATA BASE CONFIG
DATABASE_URL = 


#BCRYPT
BCRYPT_SALT = 

# EMAIL SERVICE SETUP
EMAIL_HOST_NAME = 
EMAIL = 
EMAIL_PASS = 

# EMAILJS SETUP
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_PRIVATE_KEY=

# TEMPLATE ID'S
REG_OTP_TEMPLATE_ID=
RESET_OTP_TEMPLATE_ID=

#CLOUDINARY 
API_KEY=
API_SECRET=
CLOUD_NAME=

#REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=