PORT = 
CLIENT_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
NODE_ENV = 

# DATA BASE CONFIG
DATABASE_URL = 


#BCRYPT
BCRYPT_SALT = 12

# EMAIL SERVICE SETUP
EMAIL_HOST_NAME = 
EMAIL = 
EMAIL_PASS = 